[Unit]
Description=Small description of the service
After=network.target

[Service]
User=__APP__
Group=__APP__
ExecStart=__INSTALL_DIR__/reaction start -c __INSTALL_DIR__/reaction.jsonnet
StateDirectory=reaction
RuntimeDirectory=reaction
WorkingDirectory=__INSTALL_DIR__

[Install]
WantedBy=multi-user.target

